/*
 * @Author: Jan-superman
 * @Date: 2018-09-27 20:38:43
 * @Last Modified by: superman
 * @Last Modified time: 2018-12-24 23:40:44
 */

@import '~antd-mobile/dist/antd-mobile.less';

.wrap_body {
  width: 100%;
  height: 100%;
  //width: 170px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f8f8f8;

}

.content{
  margin-top: 20px;
}

.space-carousel {
  padding: 16px;
  background: #DEF1E5;
  overflow: hidden;
}

.banner_wrapper{
  width: 100%;
  height: 90px;
}

.home_content{
  position: relative;
  width: 100%;
}
